* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.sidebar {
    width: 40%;
    height: 100vh;
    background-image: url('./img/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
}

main{
    width: 60%;
    display: flex;
    flex-direction: column;
}

header {
    flex: 4;
    position: relative;
}

header div {  
    font-size: 1.5em;
    font-weight: 750;
    position: absolute;
    bottom: 0;
    left: 0;
}

form{
    flex: 3;
}

form p {
    font-size: 1.5em;
    font-weight: 750;
    padding: 2em 2em 0 1.5em;
}

form div {
    position: relative;
    padding: 2em 2em 0 2em;
}

form label {
    position: absolute;
    top: .75em;
}

form input {
    margin: 0 3em 0 0;
    width: 250px;
    height: 2em;
    font-size: 1em;
}

header div p {
    margin: 2em;
}

footer {
    flex: 4;
}
